@{
    ViewData["Title"] = "Benjamin's Nettside";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>Bli bedre kjent med<a href="https://www.linkedin.com/in/benjamin-nylund/">meg</a>.</p>
</div>
